on init && property:ro.boot.slot=*
    # will remove this once slot_suffix is deprecated
    setprop ro.boot.slot_suffix _${ro.boot.slot}

on property:init.svc.fps_hal=running && property:ro.boot.revision=rev_0
    stop fps_hal

on property:sys.all.modules.ready=1
    # Update touch firmware if required
    write /sys/devices/virtual/input/ftm4_touch/check_fw 1
